<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Funto - HTML NFT Marketplace">
    <!-- Title-->
    <title>Galaxy Solusindo (Gasol) | Toko Komputer Malang dan Surabaya</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logogasol.png') }}" type="image/x-icon">
    <!-- All CSS Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all-css-libraries.css') }}">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <!-- Modal -->
    {% include 'modal.html' %}
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header Wrapper -->
    <header class="header-area dashboard-header px-0 px-sm-0">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <!-- Brand Logo -->
            <div class="navbar-brand me-2">
              <img class="light-logo" src="{{ url_for('static', filename='img/gasol-img-light.png') }}" style="height: 50px">
              <img class="dark-logo" src="{{ url_for('static', filename='img/gasol-img-dark.png') }}" style="height: 50px">
            </div>
          </div>
          <!-- Header Meta -->
          <div class="header-meta d-flex align-items-center">
            <!-- Menu Toggler -->
            <div class="menu-toggler ms-2 ms-sm-3" id="dashboardMenuTrigger"><i class="bi bi-list"></i></div>
            <div class="mx-3">
              <a class="btn btn-warning btn-sm rounded-pill" href="{{url_for('call_add_recently_added', current_page=current_page, selected_category=selected_category, search_query=search_query)}}">Update Recently Added</a>
            </div>
            <!-- Button --><a class="btn btn-sm btn-danger rounded-pill ms-2 ms-sm-3 d-none d-sm-block" href="{{url_for('home')}}"><i></i>Back</a>
          </div>
        </div>
      </nav>
    </header>
        <!-- Admin Sidebar Wrap -->
        <div class="admin-sidebar-wrap">
          <div class="overflowY-scroll">
            <!-- User Profile -->
            <div class="user-profile">
              <!-- User Name -->
              <div class="user-name mb-5">
                <div class="d-flex align-items-center"><img src="{{ url_for('static', filename='img/bg-img/u2.jpg') }}" class="img-thumbnail rounded-pill">
                  <div class="ms-3">
                    <h6 class="lh-1 text-dark fz-18">
                      {{ session.get('username', '') }}
                  </h6>
                  {% if session.get('role') == 'owner'%}
                  <span class="badge bg-primary fz-12">Owner</span>
                  {% elif session.get('role') == 'admin'%}
                  <span class="badge bg-primary fz-12">Admin</span>
                  {% elif session.get('role') == 'employee'%}
                  <span class="badge bg-primary fz-12">Employee</span>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- Sidenav -->
            <div class="sidenav">
              <ul>
                <li>Menu</li>
                {% if session.get('role') == 'owner'%}
                <li><a href="{{url_for('admin')}}"><i class="bi bi-speedometer"></i>Dashboard</a></li>
                {% endif %}
                <li><a href="{{url_for('add_product_form')}}"><i class="bi bi-plus-square"></i>Add Product</a></li>
                <li><a class="active" href="{{ url_for('manage_products', page=1, category=0, query='') }}"><i class="bi bi-list-task"></i>List Product</a></li>
                {% if session.get('role') == 'owner' or session.get('role') == 'admin'%}
                <li><a href="{{ url_for('order_data', page=1) }}"><i class="bi bi-clipboard-data-fill"></i>Ordered Data</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
              </ul>
            </div>
            <div class="mt-auto">
              <div class="mt-5"></div>
              <!-- Mode Switching -->
              <div class="dark-light-mode">
                <input id="darkLightSwitch" type="checkbox">
                <label class="shadow" for="darkLightSwitch">Toggle</label>
              </div>
              <div class="copywrite-text mt-4">
                <p class="mb-0 fz-14">2024 &copy; All rights reserved by <a class="fz-14" href="settings.html#" target="_blank">Lienka</a></p>
              </div>
            </div>
          </div>
        </div>
    <div class="admin-wrapper">
      <div class="container">
          <div class="col-12 col-sm-12">
            <form method="get" action="{{ url_for('manage_products') }}" class="d-flex justify-content-between align-items-center" style="gap: 30rem;">
              <div class="input-group w-100">
                  <input 
                      type="search" 
                      name="query" 
                      class="form-control" 
                      placeholder="Search products..." 
                      value="{{ search_query }}">
              </div>
              <select name="category" class="filter-select w-100" onchange="this.form.submit()">
                  <option value="0" {% if selected_category == 0 %}selected{% endif %}>All</option>
                  {% for category in categories %}
                  <option value="{{ category['category_id'] }}" 
                          {% if category['category_id'] == selected_category %}selected{% endif %}>
                      {{ category['category_name'] }}
                  </option>
                  {% endfor %}
              </select>
          </form>          
          </div>
      </div>
      <div class="mt-4 d-block w-100"></div>
      <div class="container">
        <div class="table-responsive border shadow-sm activity-table mb-70">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">No</th>
                        <th scope="col" class="text-center">Product Name</th>
                        <th scope="col" class="text-center">Category</th>
                        <th scope="col" class="text-center">Price Buy</th>
                        <th scope="col" class="text-center">Price Sell</th>
                        <th scope="col" class="text-center">Stock</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if products|length > 0 %}
                        {% for product in products %}
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="text-center">{{ product.name }}</td>
                                <td class="text-center">{{ product.category_name }}</td>
                                <td class="text-center">{{ product.price_buy | rupiah }}</td>
                                <td class="text-center">{{ product.price_sell | rupiah }}</td>
                                <td class="text-center">{{ product.stock }}</td>
                                <td class="text-justify" style="max-width:250px">{{ product.description }}</td>
                                <td>
                                    <img src="{{ url_for('static', filename='uploads/product_img/' + product.image) }}" alt="Product Image" style="max-width: 100px; height: auto; object-fit: contain;">
                                </td>
                                <td class="text-center">
    <form action="{{ url_for('delete_product', product_id=product.product_id) }}" method="POST" style="display:inline;">
        <a href="{{ url_for('get_product', product_id=product.product_id, current_page=current_page, selected_category=selected_category, search_query=search_query) }}" class="btn btn-warning btn-sm" title="Update">
            <i class="bi bi-pencil"></i> <!-- Update Icon -->
        </a>
	<br></br>
        
        <button type="submit" class="btn btn-danger btn-sm ms-2" onclick="return confirm('Are you sure you want to delete this product?');" title="Delete">
            <i class="bi bi-trash"></i> <!-- Delete Icon -->
        </button>
    </form>
</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">No products available.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
          <!-- Pagination -->
          <div class="row">
            <div class="col-12 text-center">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('manage_products', page=1, category=selected_category, query=search_query) }}">First</a>
                    </li>
                    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('manage_products', page=current_page-1, category=selected_category, query=search_query) }}">Prev</a>
                    </li>
                    {% for page_num in range(1, total_pages + 1) %}
                        <li class="page-item {% if page_num == current_page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('manage_products', page=page_num, category=selected_category, query=search_query) }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('manage_products', page=current_page+1, category=selected_category, query=search_query) }}">Next</a>
                    </li>
                    <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('manage_products', page=total_pages, category=selected_category, query=search_query) }}">Last</a>
                    </li>
                </ul>
            </div>
          </div>
    </div>
    <div class="divider"></div>
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
    <!-- All JavaScript Files-->
    <script src="{{ url_for('static', filename='js/all-js-libraries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  </body>
</html>
