<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Galaxy Solusindo - Order Management">
    <title>Galaxy Solusindo (Gasol) | Toko Komputer Malang dan Surabaya</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logogasol.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all-css-libraries.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Modal -->
    {% include 'modal.html' %}
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header Wrapper -->
    <header class="header-area dashboard-header px-0 px-sm-0">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <!-- Brand Logo -->
            <div class="navbar-brand me-2">
              <img class="light-logo" src="{{ url_for('static', filename='img/gasol-img-light.png') }}" style="height: 50px">
              <img class="dark-logo" src="{{ url_for('static', filename='img/gasol-img-dark.png') }}" style="height: 50px">
            </div>
          </div>
          <!-- Header Meta -->
          <div class="header-meta d-flex align-items-center">
            <!-- Menu Toggler -->
            <div class="menu-toggler ms-2 ms-sm-3" id="dashboardMenuTrigger"><i class="bi bi-list"></i></div>
            <!-- Button --><a class="btn btn-sm btn-danger rounded-pill ms-2 ms-sm-3 d-none d-sm-block" href="{{url_for('home')}}"><i></i>Back</a>
          </div>
        </div>
      </nav>
    </header>
        <!-- Admin Sidebar Wrap -->
        <div class="admin-sidebar-wrap">
          <div class="overflowY-scroll">
            <!-- User Profile -->
            <div class="user-profile">
              <!-- User Name -->
              {% if session.get('role') != 'customer' %}
              <div class="user-name mb-5">
                <div class="d-flex align-items-center"><img src="{{ url_for('static', filename='img/bg-img/u2.jpg') }}" class="img-thumbnail rounded-pill">
                  <div class="ms-3">
                    <h6 class="lh-1 text-dark fz-18">
                      {{ session.get('username', '') }}
                  </h6>
                  {% if session.get('role') == 'owner'%}
                  <span class="badge bg-primary fz-12">Owner</span>
                  {% elif session.get('role') == 'admin'%}
                  <span class="badge bg-primary fz-12">Admin</span>
                  {% elif session.get('role') == 'employee'%}
                  <span class="badge bg-primary fz-12">Employee</span>
                  {% endif %}
                  </div>
                </div>
              </div>
              {% else %}
              <div class="user-name mb-5">
                <div class="d-flex align-items-center">
                  {% if session.get('profile_picture') %}
                    <img src="{{ url_for('static', filename='uploads/profile_pictures/' + session['profile_picture']) }}" class="img-thumbnail rounded-pill" style="height: 65px; width: 70px;">
                  {% else %}
                    <!-- Gambar default jika tidak ada gambar profil -->
                    <img src="{{ url_for('static', filename='uploads/profile_pictures/default.jpg') }}" class="img-thumbnail rounded-pill" style="height: 65px; width: 70px;">
                  {% endif %}
                  <div class="ms-3">
                    <h6 class="lh-1 text-dark fz-18">
                      {{ session.get('username', '') }}
                    </h6>
                    <span class="badge bg-primary fz-12">User</span>
                  </div>
                </div>
              </div>              
              {% endif %}
            </div>
            
            <!-- Sidenav -->
            <div class="sidenav">
              <ul>
               {% if session.get('role') != 'customer'%}
               <li>Menu</li>
               {% if session.get('role') == 'owner'%}
               <li><a href="{{url_for('admin')}}"><i class="bi bi-speedometer"></i>Dashboard</a></li>
               {% endif %}
               <li><a href="{{url_for('add_product_form')}}"><i class="bi bi-plus-square"></i>Add Product</a></li>
               <li><a href="{{ url_for('manage_products', page=1, category=0, query='') }}"><i class="bi bi-list-task"></i>List Product</a></li>
               {% if session.get('role') == 'owner' or session.get('role') == 'admin'%}
               <li><a class="active" href="{{ url_for('order_data', page=1) }}"><i class="bi bi-clipboard-data-fill"></i>Ordered Data</a></li>
               {% endif %}
               <li><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
               {% else %}
               <li>Menu</li>
               <li><a class="active" href="{{url_for('transaction_history')}}"><i class="bi bi-clock-history"></i>Transaction History</a></li>
               <li><a href="{{ url_for('settings') }}"><i class="bi bi-gear"></i>Settings</a></li>
               <li><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
               {% endif %}
              </ul>
            </div>
            <div class="mt-auto">
              <div class="mt-5"></div>
              <!-- Mode Switching -->
              <div class="dark-light-mode">
                <input id="darkLightSwitch" type="checkbox">
                <label class="shadow" for="darkLightSwitch">Toggle</label>
              </div>
              <div class="copywrite-text mt-4">
                <p class="mb-0 fz-14">2024 &copy; All rights reserved by <a class="fz-14" href="settings.html#" target="_blank">Lienka</a></p>
              </div>
            </div>
          </div>
        </div>

    <!-- Main Content -->
    <div class="container admin-wrapper">
      {% if session.get('role') == 'customer'%}
      <h3 class="text-center mb-4">Transaction History</h3>
      {% else %}
      <h3 class="text-center mb-4">Order Data</h3>
      {% endif %}
      
      <div class="table-responsive border shadow-sm activity-table mb-70">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col" class="text-center" style="width: 100px;">Order ID</th>
              {% if session.get('role') == 'customer' %}
              <th scope="col" class="text-center">Name</th>
              {% else %}
              <th scope="col" class="text-center">Customer Name</th>
              {% endif %}
              <th scope="col" class="text-center">Phone Number</th>
              <th scope="col" class="text-center">Total Price</th>
              <th scope="col" class="text-center">Order Date</th>
              <th scope="col" class="text-center">Status</th>
              {% if session['role'] == 'owner' or session['role'] == 'admin' %}
                <th scope="col" class="text-center">Admin Name</th>
               {% endif %}
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if orders|length > 0 %}
              {% for order in orders %}
                <tr>
                  <td class="text-center">{{ order.order_id }}</td>
                  <td class="text-center">{{ order.name }}</td>
                  <td class="text-center">{{ order.phone }}</td>
                  <td class="text-center">{{ order.total_price | rupiah }}</td>
                  <td class="text-center">{{ order.created_at }}</td>
                  <td class="text-center">
                    {% if session['role'] == 'admin' %}
                    <form action="{{ url_for('update_order_status', order_id=order.order_id) }}" method="POST">
                      <select name="status" class="form-control form-control-sm" required>
                        <option class="text-center" value="pending" {% if order.status_order == 'pending' %}selected{% endif %}>Pending</option>
                        <option class="text-center" value="processing" {% if order.status_order == 'processing' %}selected{% endif %}>Processing</option>
                        <option class="text-center" value="completed" {% if order.status_order == 'completed' %}selected{% endif %}>Completed</option>
                      </select>
                      <button type="submit" class="btn btn-sm btn-primary mt-2">Update</button>
                    </form>
                    {% else %}
                    {{ order.status_order }}
                    {% endif %}
                  </td>
                    {% if session['role'] == 'owner' or session['role'] == 'admin' %}
                    <td class="text-center">{{ order.admin_name }}</td>
                    {% endif %}
                   <td class="text-center">
                    <!-- Added Action Button -->
                    {% if session.get('role') != 'customer' %}
                      <a href="{{ url_for('order_detail', order_id=order.order_id) }}" class="btn btn-warning btn-sm rounded-pill">Detail</a>
                    {% else %}
                      <a href="{{ url_for('transaction_detail', order_id=order.order_id) }}" class="btn btn-warning btn-sm rounded-pill">Detail</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="8" class="text-center">No orders found.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      

      <!-- Pagination -->
      <div class="row">
        <div class="col-12 text-center">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
              <a class="page-link" href="{{ url_for('order_data', page=1) }}">First</a>
            </li>
            <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
              <a class="page-link" href="{{ url_for('order_data', page=current_page-1) }}">Prev</a>
            </li>
            {% for page_num in range(1, total_pages + 1) %}
              <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('order_data', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% endfor %}
            <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
              <a class="page-link" href="{{ url_for('order_data', page=current_page+1) }}">Next</a>
            </li>
            <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
              <a class="page-link" href="{{ url_for('order_data', page=total_pages) }}">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="divider"></div>
    
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>

    <!-- All JavaScript Files-->
    <script src="{{ url_for('static', filename='js/all-js-libraries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  </body>
</html>
