<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <!-- Title-->
    <title>Galaxy Solusindo (Gasol) | Toko Komputer Malang dan Surabaya</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logogasol.png') }}" type="image/x-icon">
    <!-- All CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all-css-libraries.css') }}">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Modal -->
    {% include 'modal.html' %}
    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header -->
    {% include 'navbar.html' %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="breadcrumb-title">Register</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Register -->
    <div class="register-area">
      <div class="container">
        <div class="row g-4 g-lg-5 align-items-center justify-content-between">
          <div class="col-12 col-md-6 col-xl-5">
            <div class="register-card">
              <h2>Create your free account</h2>
              <p>Already have an account?<a class="ms-1 hover-primary" href="{{ url_for('login') }}">Log In</a></p>
              <!-- Register Form-->
              <div class="register-form mt-5">
                <form action="/register" method="post">
                  <div class="form-group mb-4">
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control" type="text" name="fullname" placeholder="Full Name" required>
                  </div>
                  <div class="form-group mb-4">
                    <label class="label-psswd" for="registerPassword">Show</label>
                    <input class="form-control" id="registerPassword" type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="form-group mb-4">
                    <label class="label-psswd" for="registerPassword">Show</label>
                    <input class="form-control" id="registerPassword" type="password" name="confirm_password" placeholder="Confirm Password" required>
                  </div>
                  <div class="form-check mb-4">
                    <input class="form-check-input" id="rememberMe" type="checkbox" value="" checked>
                    <label class="form-check-label" for="rememberMe">I agree to all terms &amp; conditions.</label>
                  </div>
                  <button class="btn btn-primary w-100" type="submit">Register Now</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="register-thumbnail mt-5 mt-md-0"><img src="{{ url_for('static', filename='img/illustrator/4.png') }}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
    <!-- All JavaScript Files-->
    <script src="{{ url_for('static', filename='js/all-js-libraries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  </body>
</html>