<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <!-- Title-->
    <title>Galaxy Solusindo (Gasol) | Toko Komputer Malang dan Surabaya</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logogasol.png') }}" type="image/x-icon">
    <!-- All CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all-css-libraries.css') }}">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Modal -->
    {% include 'modal.html' %}
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header -->
    {% include 'navbar.html' %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="breadcrumb-title">Forget Password</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Register -->
    <div class="register-area">
      <div class="container">
        <div class="row g-4 g-lg-5 align-items-center justify-content-between">
          <div class="col-12 col-md-6 col-xl-5">
            <div class="register-card">
              <h2>Reset Password</h2>
              <p>Already have an account?<a class="ms-1" href="login.php">Log In</a></p>
              <div class="register-form mt-5">
              <form action="/reset_password" method="post">
                <!-- Kirim email/username sebagai input tersembunyi -->
                <input type="hidden" name="user_id" value="{{session.get('user_id')}}">

                <div class="form-group mb-4">
                <label class="label-psswd" for="registerPassword">Show</label>
                  <input class="form-control" id="registerPassword" name="new_password" type="password" placeholder="New Password" required>
                </div>
                <div class="form-group mb-4">
                <label class="label-psswd" for="registerPassword">Show</label>
                  <input class="form-control" id="registerPassword" name="confirm_password" type="password" placeholder="Confirm Password" required>
                </div>
                <button class="btn btn-warning w-100" type="submit">Set Password</button>
              </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="register-thumbnail mt-5 mt-md-0"><img src="../static/img/illustrator/4.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
    <!-- All JavaScript Files-->
    <script src="{{ url_for('static', filename='js/all-js-libraries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  </body>
</html>